.page-content {
  width: 100%;
  max-width: 720px;
  margin: 100px 0;

  table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
  }

  @include media-breakpoint-up(lg) {
    table {
      width: 100%;
      table-layout: unset;
      word-break: unset;
    }
  }

  > picture > img {
    max-width: calc(100% - 1.4rem);
    margin: 0.7rem;
  }
}

body > .container-xxl {
  min-height: 100vh;
}

.w-max-content {
  width: max-content;
}
