.fill-viewport {
    height: 100vh;
    width: 100vw;
}

.background-img-center {
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.darken {
    filter: brightness(0.6);
}

.carousel-item > * {
    text-shadow: 2px 2px 4px black;
}