.list-card {
    display: flex;
    flex-direction: row;

    .fade-text {
        max-height: 10rem;
        -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
        mask-image: linear-gradient(180deg, #000 60%, transparent);
    }

    .card-img-top {
        max-height: 7cm;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



.list-card-img {
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
    overflow: hidden;

    
}