@import "bootstrap/mixins";
@import "bootstrap/variables";

.navbar .nav-item .dropdown-menu {
  display: block;
}

.navbar {
  width: 100%;
}

@include media-breakpoint-up(lg) {
  .navbar {
    @include border-radius;
    max-width: minmax(min-content, 768px);
    width: fit-content;
    margin: 0.5cm;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    display: none;
  }
}
