<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "carousel" . }}{{- end }}
        <div class="container-xxl">
            <div class="d-flex justify-content-center">
                <div class="page-content">
                    {{- partial "i18nlist.html" . -}}
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>