<div class="card list-card my-4 shadow">

{{ if isset .Params "img" }}
<div class="card-img-top rounded-top overflow-hidden">
    {{ partial "header_img.html" . }}
</div>
{{ end }}
<div class="card-body">
    <h5>{{ .Title }}</h5>
    <p>{{ .Summary }}</p>

    <a href="{{ .RelPermalink }}" class="btn btn-primary">Mehr lesen</a>
    {{ partial "button-list.html" . }}
</div>
</div>