<footer class="bg-dark text-body d-flex justify-content-center" data-bs-theme="dark">
  <p class="p-5 m-0 text-center">
    Erstellt mit
    <a
      href="https://gitlab.com/McToel/climatecrisis-theme"
      target="_blank"
      rel="noopener noreferrer"
      class="text-body"
      >climatecrisis-theme</a
    >
    {{ if isset .Site.Params "editurl" }}
    <br /><br />
    <a
      href="{{ .Site.Params.editurl }}"
      target="_blank"
      rel="noopener noreferrer"
      class="text-body"
      >Seite bearbeiten</a
    >
    {{ end }}
  </p>
</footer>
