{{ if isset .Params.Img "src" }}
    <!-- Get image -->
    {{$img := resources.Get .Params.img.src}}

    <!-- Resize image as a test it's working -->
    {{- $desktop := $img.Resize "720x webp"}}
    {{- $mobile := $img.Resize "420x webp"}}

    <picture>
    <source media="(max-width:401px)" srcset="{{ $mobile.Permalink }}">
    <img src="{{ $desktop.Permalink }}" alt="{{ .Params.img.alt }}">
</picture>
{{ end }}