{{ $page := .Page }}
<div class="fixed-top d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg bg-primary shadow" data-bs-theme="dark">
        <div class="container-fluid">
            <div>
                <ul class="navbar-nav flex-row me-auto mb-0">
                {{ range .Site.Menus.social_media }}
                    <li class="nav-item">
                        <a class="nav-link px-2 fs-3" target="_blank" rel="noopener noreferrer" href="{{ .URL }}">{{ .Pre }}</a>
                    </li>
                {{ end }}
                </ul>
            </div>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ .URL }}" data-toggle="dropdown" aria-expanded="false">
                          {{ .Name }}
                        </a>
                        <ul class="dropdown-menu bg-primary">
                        {{ range .Children }}
                            {{- partial "inline/menu/leaf.html" (dict "page" $page "menuEntry" .) }}
                        {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                        {{- partial "inline/menu/leaf.html" (dict "page" $page "menuEntry" .) }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </nav>
</div>

{{- define "partials/inline/menu/leaf.html" }}
<li class="nav-item">
    {{ $page := .page }}
    {{ with .menuEntry }}
        {{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
        <a class="nav-link active" href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    {{ end }}
</li>
{{ end }}