{{ if and .IsPage (.IsTranslated) }}

<div class="mx-auto d-block w-max-content">
    <h5>Translations / Übersetzungen</h5>
</div>
<div class="mx-auto d-block w-max-content mb-5">
    {{ range .Translations }}
    <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}: {{ .LinkTitle }}{{ if .IsPage }}{{ end }}</a>
    {{ end }}
</div>
{{ end }}