{{ define "carousel" }}
<div id="mainCarousel" class="carousel slide">
  <div class="carousel-indicators">
    {{range $index, $page := where .Site.Pages "Type" "=" "carousel-content"}} 
      {{ if eq $index 0 }}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ $index }}" class="active" aria-current="true" aria-label="Slide {{ $index }}"></button>
      {{ else }}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ $index }}" aria-label="Slide {{ $index }}"></button>
      {{ end }}
    {{ end }}
  </div>
  <div class="carousel-inner">
    {{range $index, $page := where .Site.Pages "Type" "=" "carousel-content"}} 
      {{ $img := resources.GetMatch $page.Params.img }}
      {{ if eq $index 0 }}
      <div class="carousel-item active">
      {{ else }}
      <div class="carousel-item">
      {{ end }}
        <div class="fill-viewport text-center d-flex flex-column justify-content-center align-items-center text-light" data-bs-theme="dark">
          {{ $page.Content }}
        </div>
        <!-- Resize image as a test it's working -->
        {{- $large := $img.Resize "1440x webp"}}
        {{- $medium := $img.Resize "1440x webp"}}
        {{- $medium := $medium.Crop (printf "720x%d webp center" $medium.Height) }}
        {{- $small := $img.Resize "1080x webp"}}
        {{- $small := $small.Crop (printf "420x%d webp center" $small.Height) }}
        <div id="carousel-img-{{ $index }}" class="z-n1 position-absolute top-0 start-0 fill-viewport darken background-img-center"></div>
        <style>
          #carousel-img-{{ $index }} {
            background-image: url({{ $small.Permalink }});
          }
          @media (min-width: 576px) {
            #carousel-img-{{ $index }} {
              background-image: url({{ $medium.Permalink }});
            }
          }
          @media (min-width: 992px) {
            #carousel-img-{{ $index }} {
              background-image: url({{ $large.Permalink }});
            }
          }
        </style>
      </div>
    {{ end }}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{ end }}

{{ define "main" }}
{{ .Content }}
{{ end }}